<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Base</title>
    <style>
        th.column {
            width: 200px;
            padding: 10px;
        }
    </style>
</head>
<body>
<h1>Users</h1>
<form action="#" th:action="@{/adduser}" method="get">
    <button type="submit">Add User</button>
</form>
<table>
    <tr>
        <th class="column">ID</th>
        <th class="column">Name</th>
        <th class="column">Lastname</th>
        <th class="column">Email</th>
        <th class="column">Actions</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">ID</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.lastName}">Lastname</td>
        <td th:text="${user.mail}">Email</td>
        <button type="submit">Delete</button>
    </tr>
</table>
</body>