<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<h1>Update User</h1>
<form th:method="POST" th:action="@{/{id}/(id=${user.getId()})}" th:object="${user}">
    <label for="id">Your id: </label>
    <p id="id" th:text="${user.getId()}">id</p>
    <br/>
    <input type="text" name="name"  th:id="name" th:value="${name}"/>
    <br/>
    <input type="text" name="lastname" th:id="lastname" th:value="${lastname}"/>
    <br/>
    <input type="text" name="email" th:id="email" th:value="${email}" th:errorclass="error"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>
    <button type="submit">Update</button>
</form>
<form th:method="GET" th:action="@{/}">
    <button type="submit">go back</button>
</form>
</body>
</html>
